.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  inline-size: 75vh;
  block-size: 30vh;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__input {
      display: flex;
      justify-content: space-between;

      inline-size: 40vh;
    }
  }
  &__btn {
    display: flex;
    gap: 0.5rem;
    align-self: end;
  }
}
