<app-header>
  <div start>
    <div class="tabs">
      <p-button
        rounded
        text
        label="Your Profile"
        class="tab"
        severity="secondary"
        [routerLink]="'/dashboard/profile/detail'"
        [routerLinkActive]="'active-tab'"
      ></p-button>
      <p-button
        rounded
        text
        severity="secondary"
        label="Mangae Users"
        class="tab"
        [routerLink]="'/dashboard/profile/manage-user'"
        [routerLinkActive]="'active-tab'"
      ></p-button>
    </div>
  </div>

  <div end>
    <p-button
      icon="pi pi-sign-out"
      label="Signout"
      rounded
      text
      appSignOut
    ></p-button>
  </div>
</app-header>

<router-outlet></router-outlet>
