<p-dialog header="Create User" [modal]="true" [visible]="this.visible()" [draggable]="false">
  <div class="modal">
   <div class="modal__inputs">
     <div class="modal__input">
       <input pInputText type="text" id="username" placeholder="Username" name="username" required/>
     </div>
     <div class="modal__input">
       <input pInputText type="text" id="role" placeholder="email" name="email" required/>
     </div>
     <div class="modal__input">
       <p-dropdown [options]="this.roles" [checkmark]="true" optionLabel="roles" [showClear]="true"
                   placeholder="Select a Role" class="modal__select"/>
     </div>
   </div>
    <div class="modal__btn">
      <p-button label="Cancel" severity="secondary" (click)="onClose()" />
      <p-button label="Save" (click)="onClose()" />
    </div>
  </div>
</p-dialog>
