:host {
  display: flex;
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

// ::ng-deep .deleting-row {
//   opacity: 0.5;
//   pointer-events: none;
//   transition: opacity 0.3s ease;
// }

// ::ng-deep .pi-spinner {
//   font-size: 0.9rem;
//   color: #f44336;
// }
