<p-card header="Manage Saved CSV Files">
  <ng-template pTemplate="header">
    <div class="header">
      <p-button
        label="Upload Files"
        rounded
        [routerLink]="['/', 'dashboard', 'home', 'files', 'new-file']"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
    <p-table
      [value]="vm().fileItems"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>File Name</th>
          <th>Size</th>
          <th>Upload Time</th>
          <th>state</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-file>
        <tr>
          <td><i class="pi pi-file p-mr-2"></i>{{ file.originalFileName }}</td>
          <td>{{ file.size }}</td>
          <td>{{ file.lastModified }}</td>
          <td>{{ file.stage }}</td>
          <td>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-rounded p-button-danger p-mr-2 p-button-text"
              (click)="onDeleteFile(file)"
              pTooltip="Delete File"
              [tooltipPosition]="'top'"
            ></p-button>
            <p-button
              icon="pi pi-file-edit"
              styleClass="p-button-rounded p-button-secondary p-button-text"
              (click)="onEditFileScheme(file.name)"
              pTooltip="Edit Scheme"
              [tooltipPosition]="'top'"
            ></p-button>
            @if(file.stage === "Uploaded") {
            <p-button
              icon="pi pi-table"
              styleClass="p-button-rounded p-button-secondary p-button-text"
              (click)="onCreateTable(file.id)"
              pTooltip="Create Table"
              [tooltipPosition]="'top'"
            ></p-button>
            } @else if(file.stage === "TableCreated") {
            <p-button
              icon="pi pi-eye"
              styleClass="p-button-rounded p-button-secondary p-button-text"
              (click)="onShowTable(file.schemaId)"
              pTooltip="Show Table"
              [tooltipPosition]="'top'"
            ></p-button>
            }
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr style="height: 10rem; font-size: 1.1rem">
          <td colspan="4">No files found. Please upload a CSV file.</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-card>
