.header {
  padding: 1rem;
  &__toolbar {
    &__start {
      display: flex;
      align-items: center;
      gap: 1rem;
      &__img {
        inline-size: 4rem;
        block-size: 2.5rem;
      }
    }
  }
}

.dashboard {
  &__sidebar {
    inline-size: 20vw;
    block-size: 100vh;
  }
}

