@if (isEditProfileModal()) {
  <app-edit-profile (close)="changeEditProfileModalStatus()" [visible]="isEditProfileModal()"/>
}

<p-card class="profile-card">
  <div class="profile-card__content">
    <div class="profile-card__content__top">
      <div class="profile-card__content__top__user-abcent-image">
        {{ user().username[0] }}
      </div>

      <div class="profile-card__content__top__info">
        <h2 class="profile-card__content__top__info__user-name">
          {{ userFullName() }}
        </h2>

        <p-tag
          [value]="userRole()"
          [severity]="getSeverityForRole()"
          class="profile-card__content__top__info__user-role"
          [rounded]="true"
        ></p-tag>
      </div>
    </div>
    <div class="profile-card__content__bottom">
      <div class="profile-card__content__bottom__details">
        <div class="profile-card__content__bottom__details__item">
          <i
            class="pi pi-envelope profile-card__content__bottom__details__item__icon"
          ></i>
          <span class="profile-card__content__bottom__details__item__title"
          >Email :
          </span>
          <span class="profile-card__content__bottom__details__item__data">{{ user().email }}</span>
        </div>

        <div class="profile-card__content__bottom__details__item">
          <i
            class="pi pi-user profile-card__content__bottom__details__item__icon"
          ></i>
          <span class="profile-card__content__bottom__details__item__title"
          >Username :
          </span>
          <span class="profile-card__content__bottom__details__item__data">{{ user().username }}</span>
        </div>

        <div class="profile-card__content__bottom__details__item">
          <i
            class="pi pi-calendar profile-card__content__bottom__details__item__icon"
          ></i>
          <span class="profile-card__content__bottom__details__item__title"
          >Date :
          </span>
          <span class="profile-card__content__bottom__details__item__data">{{ date }}</span>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="profile-card__actions">
      <p-button label="Change Password" icon="pi pi-key" rounded appChangePassword />
      <p-button label="Edit Profile" icon="pi pi-pencil" rounded (click)="changeEditProfileModalStatus()" />
    </div>
  </ng-template>
</p-card>
