:host {
  display: block;
  height: calc(90vh - var(--header-height));
  position: relative;
}

.file-uploader {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  &__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__zone-area {
    block-size: 100%;
    min-block-size: 50vh;
    flex: 1;
    border: 0.2rem dashed rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0078d7;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

    &-drag-over {
      background: linear-gradient(
        120deg,
        rgba(0, 56, 141, 0.1) 25%,
        rgba(0, 56, 141, 0.25) 50%,
        rgba(0, 56, 141, 0.1) 75%
      );
      background-size: 200% 100%;
      animation: bg-shimmer 1.5s linear infinite;
    }

    i {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    span {
      font-weight: 500;
    }
  }

  &__uploaded-file-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__item {
      padding: 0.5rem 1rem;
      background-color: #f1f1f1;
      border-radius: 0.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.95rem;
      color: #333;

      .pi-times {
        cursor: pointer;
        color: #c00;
      }
    }
  }
}

@keyframes bg-shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
