html {
  overflow: hidden;
}

p-toolbar .p-toolbar {
  padding: 1rem;
  border-inline: none;
  border-block-start: none;
}

.tabs p-button {
  position: relative;
  overflow: hidden;
}

.tabs p-button.active-tab::after {
  content: "";

  background-color: var(--primary-color, #3b82f6);
  height: 2px;
  width: 60%;

  position: absolute;
  bottom: -50%;
  left: 25%;

  transition: all 0.5s ease-in-out;
  animation: grow-horizontaly 0.7s forwards;
  transform-origin: center;
}

@keyframes grow-horizontaly {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1) translateX(-10%);
  }
}

p-menu .p-menu {
  padding-inline-start: 0.8rem;
  border-block: none;
  border-inline-start: none;
}

.p-menu-list {
  block-size: 90.6vh;
}
