:host {
  display: flex;
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

.tabs-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  &__tabs {
    display: flex;
    gap: 1rem;
    max-inline-size: 70vw;
    scroll-behavior: smooth;
    overflow-x: auto;
  }

  &__new-tab-btn {
  }
}

::-webkit-scrollbar {
  display: none;
}
