<app-header>
  <div class="header__logo" start>
    <img src="/assets/logo.svg" alt="logo" class="header__logo__icon">
    <h3 class="header__logo__text">DataWave</h3>
  </div>

  <p-button end label="Sign in" size="large" icon="pi pi-sign-in" appSignIn/>
</app-header>

<main class="main">
  <div class="main__content">
    <div class="main__content--left">
      <h3 class="main__content--left__text">
        DataWeave empowers businesses and data enthusiasts to turn raw data into actionable insights. With an easy
        drag-and-drop interface and powerful visualization tools, you can explore patterns, detect trends, and make
        data-driven decisions faster than ever. Whether you’re analyzing simple datasets or building complex workflows,
        DataWeave makes data exploration seamless.
      </h3>
      <p-button label="Get start analyst data" size="large" outlined="true" class="main__content__btn" appSignIn/>
    </div>
    <lottie-player
      src="/assets/landing/AnalyticsCharacterAnimation.json"
      background="transparent"
      speed="1"
      class="main__content__img"
      loop
      autoplay>
    </lottie-player>

  </div>
</main>
