:host {
  display: block;
  block-size: calc(90vh - var(--header-height));
}

.upload-card {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.205);

  &__upload-container {
    // height: 100%;

    &__files-list {
      // height: 100%;

      &__file {
        max-width: 1rem;
        background-color: red;
      }
    }
  }

  
}

.preview-container {
  margin-top: 2rem;
  padding-top: 1.5rem;
}

// Ensure table inputs are full width
:host ::ng-deep .p-datatable-sm td .p-inputtext {
  width: 100%;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
