:host {
  display: flex;
  gap: 1rem;
  padding-block-start: 0.8rem;

  .sidebar {
    min-inline-size: 15vw;
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgba(236, 236, 236, 0.185);
    border-radius: 1rem;
    border-right: 1px solid rgba(201, 201, 201, 0.507);

    .active-tab {
      border-bottom: 1px solid blue;
      border-radius: 0.3rem;
    }
  }

  .dynamic-content {
    inline-size: 85vw;
  }
}
