:host {
  display: flex;
  gap: 0.5rem;

  .sidebar {
    inline-size: 15vw;
    padding-block-start: 1rem ;
  }

  .dynamic-content {
    inline-size: 85vw;
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
  }
}
